<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Happy Pancing</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendors/mdi/css/materialdesignicons.min.css') }}" >
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendors/css/vendor.bundle.base.css') }}" >
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/Inventory/style.css') }}" >
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendors/datatables/datatables.min.css') }}" >
  <link rel="shortcut icon" href="{{ url_for('static', filename='assets/images/favicon.png') }}" />
</head>
<body>
  <div class="container-scroller">
    {% include "layout/_sidenav.html" %}
    <div class="container-fluid page-body-wrapper">
      {% include "layout/_topnav.html" %}
      <div class="main-panel">
        <div class="content-wrapper">

          <!-- Message Flash -->
          {% with messages = get_flashed_messages() %}
          {% if messages %}
          {% for message in messages %}
          <div class="alert alert-warning alert-dismissible text-center" role="alert">
            <span class=""><b>{{message}}</b></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% endfor %}
          {% endif %}
          {% endwith %}
          <form action="/inventory/add/" method="POST" id="inventory-form">
            <div class="page-header">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/">Home</a></li>
                  <li class="breadcrumb-item"><a href="/inventory/">Inventory</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Add</li>
                </ol>
              </nav>
              <h3 class="page-title"> Add New Inventory </h3>
            </div>
            <!-- ENABLE DATATABLES AND TEST FOR 1000 rows -->
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="card-title text-right">
                    <button class="btn btn-success">Add</button>
                  </div>
                  <div class="card-description col-lg-12">
                    <div class="row">
                      <div class="form-group col-lg-3">
                        <div class="row my-1">
                          <label class="col-lg-3 col-sm-2 col-form-label col-form-label-sm text-truncate px-0">ID</label>
                          <div class="col-lg-8 col-sm-6 pl-1 pr-2">
                            <input type="text" class="form-control form-control-sm text-muted bg-dark" placeholder="-" disabled>
                          </div>
                        </div>

                        <div class="row my-1">
                          <label class="col-lg-3 col-sm-2 col-form-label col-form-label-sm text-truncate px-0">Name*</label>
                          <div class="col-lg-8 col-sm-6 pl-1 pr-2">
                            <input type="text" class="form-control form-control-sm text-light bg-dark" name="IV_NAME" placeholder="Item Name" required>
                          </div>
                        </div>
                      </div>

                      <div class="form-group col-lg-3">
                        <div class="row my-1">
                          <label class="col-lg-4 col-sm-2 col-form-label col-form-label-sm text-truncate px-0">UoM</label>
                          <div class="col-lg-8 col-sm-6 pl-1 pr-2">
                            <select class="form-control form-control-sm text-light bg-dark py-0" name="IV_UOM">
                              <option disabled selected>- Item UoM -</option>
                              <option value="1">M - Meter</option>
                              <option value="2">Pcs - Piece</option>
                              <option value="3">Ml - Mililiter</option>
                            </select>
                          </div>
                        </div>

                        <div class="row my-1">
                          <label class="col-lg-4 col-sm-2 col-form-label col-form-label-sm text-truncate px-0">Category</label>
                          <div class="col-lg-8 col-sm-6 pl-1 pr-2">
                            <select class="form-control form-control-sm text-light bg-dark py-0" name="IV_CATEGORY">
                              <option disabled selected>- Item Category -</option>
                              <option value="1">Umpan</option>
                              <option value="2">Peralatan</option>
                              <option value="3">Lainnya</option>
                            </select>
                          </div>
                        </div>

                        <div class="row my-1">
                          <label class="col-lg-4 col-sm-2 col-form-label col-form-label-sm text-truncate px-0">Qty.</label>
                          <div class="col-lg-8 col-sm-6 pl-1 pr-2">
                            <input type="text" class="form-control form-control-sm text-light bg-dark" name="IV_QTY" placeholder="Item Quantity">
                          </div>
                        </div>
                      </div>

                      <div class="form-group col-lg-3">
                        <div class="row my-1">
                          <label class="col-lg-4 col-sm-2 col-form-label col-form-label-sm text-truncate px-0">Buy Price</label>
                          <div class="col-lg-8 col-sm-6 pl-1 pr-2">
                            <input type="number" min="0" class="form-control form-control-sm text-light bg-dark" name="IV_BUYPRICE" placeholder="Item Price">
                          </div>
                        </div>

                        <div class="row my-1">
                          <label class="col-lg-4 col-sm-2 col-form-label col-form-label-sm text-truncate px-0">Sell Price</label>
                          <div class="col-lg-8 col-sm-6 pl-1 pr-2">
                            <input type="number" min="0" class="form-control form-control-sm text-light bg-dark" name="IV_SELLPRICE" placeholder="Item Price">
                          </div>
                        </div>
                      </div>

                      <div class="form-group col-lg-3">
                        <div class="row my-1">
                          <label class="col-lg-4 col-sm-2 col-form-label col-form-label-sm text-truncate px-0">Created Info.</label>
                          <div class="col-lg-8 col-sm-6 pl-1 pr-2">
                            <input type="text" class="form-control form-control-sm text-muted bg-dark" placeholder="-" disabled>
                          </div>
                        </div>

                        <div class="row my-1">
                          <label class="col-lg-4 col-sm-2 col-form-label col-form-label-sm text-truncate px-0">Updated Info.</label>
                          <div class="col-lg-8 col-sm-6 pl-1 pr-2">
                            <input type="text" class="form-control form-control-sm text-muted bg-dark" placeholder="-" disabled>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
              <!-- End Summary Row -->
            </div>                    
          </form>  
        </div>
      </div>
    </div>
  </div>
  <script src="{{ url_for('static', filename='assets/vendors/js/vendor.bundle.base.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendors/datatables/datatables.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/off-canvas.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/hoverable-collapse.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/misc.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/Inventory/main.js') }}"></script>
</body>
</html>