<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Happy Pancing</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendors/mdi/css/materialdesignicons.min.css') }}" >
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendors/css/vendor.bundle.base.css') }}" >
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/Inventory/style.css') }}" >
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendors/datatables/datatables.min.css') }}" >
  <link rel="shortcut icon" href="{{ url_for('static', filename='assets/images/favicon.png') }}" />
</head>
<body>
  <div class="container-scroller">
    {% include "layout/_sidenav.html" %}
    <div class="container-fluid page-body-wrapper">
      {% include "layout/_topnav.html" %}
      <div class="main-panel">
        <div class="content-wrapper">

          <div class="page-header">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="/inventory/">Inventory</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{message[0]}}</li>
              </ol>
            </nav>
            <h3 class="page-title"> <b><i> {{message[0]}} </i></b> Inventory Details </h3>
          </div>
          <!-- ENABLE DATATABLES AND TEST FOR 1000 rows -->
          <form action="{{'/inventory/update/' if message[1][7] != 0 else '/inventory/activate/'}}" method="POST" id="inventory-form">
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="card-title text-right">
                    {% if message[1][7] != 0 %}
                    <button type="button" class="btn btn-outline-danger" id="inventory-deactivate">Deactivate</button>
                    <button class="btn btn-primary">Save</button>
                    {% endif %}
                    {% if message[1][7] == 0 %}
                    <h3 class="font-weight-bold text-light">Item Inactive</h3>
                    <button class="btn btn-outline-success">Activate</button>
                    {% endif %}
                  </div>
                  <div class="card-description col-lg-12">
                    <div class="row">
                      <div class="form-group col-lg-3">
                        <div class="row my-1">
                          <label class="col-lg-4 col-sm-2 col-form-label col-form-label-sm text-truncate px-0">ID</label>
                          <div class="col-lg-8 col-sm-6 pl-1 pr-2">
                            <input type="text" class="form-control form-control-sm text-muted bg-dark" name="IV_ID" value="{{message[0]}}" readonly>
                          </div>
                        </div>

                        <div class="row my-1">
                          <label class="col-lg-4 col-sm-2 col-form-label col-form-label-sm text-truncate px-0">Name</label>
                          <div class="col-lg-8 col-sm-6 pl-1 pr-2">
                            <input type="text" class="form-control form-control-sm {{'text-muted' if message[1][7] == 0 else 'text-light'}} bg-dark" name="IV_NAME" value="{{message[1][1]}}" {{ 'disabled' if message[1][7] == 0 else ''}}>
                          </div>
                        </div>
                      </div>

                      <div class="form-group col-lg-3">
                        <div class="row my-1">
                          <label class="col-lg-4 col-sm-2 col-form-label col-form-label-sm text-truncate px-0">UoM</label>
                          <div class="col-lg-8 col-sm-6 pl-1 pr-2">
                            <select class="form-control form-control-sm {{'text-muted' if message[1][7] == 0 else 'text-light'}} bg-dark py-0" name="IV_UOM" {{ 'disabled' if message[1][7] == 0 else ''}}>
                              <option value="1" {{'selected' if message[1][6] == '1' else ''}}>M - Meter</option>
                              <option value="2" {{'selected' if message[1][6] == '2' else ''}}>Pcs - Piece</option>
                              <option value="3" {{'selected' if message[1][6] == '3' else ''}}>Ml - Mili liter</option>
                            </select>
                          </div>
                        </div>

                        <div class="row my-1">
                          <label class="col-lg-4 col-sm-2 col-form-label col-form-label-sm text-truncate px-0">Category</label>
                          <div class="col-lg-8 col-sm-6 pl-1 pr-2">
                            <select class="form-control form-control-sm {{'text-muted' if message[1][7] == 0 else 'text-light'}} bg-dark py-0" name="IV_CATEGORY" {{ 'disabled' if message[1][7] == 0 else ''}}>
                              <option value="1" {{'selected' if message[1][2] == '1' else ''}}>Umpan</option>
                              <option value="2" {{'selected' if message[1][2] == '2' else ''}}>Peralatan</option>
                              <option value="3" {{'selected' if message[1][2] == '3' else ''}}>Lainnya</option>
                            </select>
                          </div>
                        </div>

                        <div class="row my-1">
                          <label class="col-lg-4 col-sm-2 col-form-label col-form-label-sm text-truncate px-0">Qty.</label>
                          <div class="col-lg-8 col-sm-6 pl-1 pr-2">
                            <input type="number" min='0' class="form-control form-control-sm {{'text-muted' if message[1][7] == 0 else 'text-light'}} bg-dark" name="IV_QTY" value="{{message[1][3]}}" {{ 'disabled' if message[1][7] == 0 else ''}}>
                          </div>
                        </div>
                      </div>

                      <div class="form-group col-lg-3">
                        <div class="row my-1">
                          <label class="col-lg-4 col-sm-2 col-form-label col-form-label-sm text-truncate px-0">Buy Price</label>
                          <div class="col-lg-8 col-sm-6 pl-1 pr-2">
                            <input type="number" min="0" class="form-control form-control-sm {{'text-muted' if message[1][7] == 0 else 'text-light'}} bg-dark" name="IV_BUYPRICE" value="{{message[1][4]}}" {{ 'disabled' if message[1][7] == 0 else ''}}>
                          </div>
                        </div>

                        <div class="row my-1">
                          <label class="col-lg-4 col-sm-2 col-form-label col-form-label-sm text-truncate px-0">Sell Price</label>
                          <div class="col-lg-8 col-sm-6 pl-1 pr-2">
                            <input type="number" min="0" class="form-control form-control-sm {{'text-muted' if message[1][7] == 0 else 'text-light'}} bg-dark" name="IV_SELLPRICE" value="{{message[1][5]}}" {{ 'disabled' if message[1][7] == 0 else ''}}>
                          </div>
                        </div>
                      </div>

                      <div class="form-group col-lg-3">
                        <div class="row my-1">
                          <label class="col-lg-4 col-sm-2 col-form-label col-form-label-sm text-truncate px-0">Created Info.</label>
                          <div class="col-lg-8 col-sm-6 pl-1 pr-2">
                            <input type="text" class="form-control form-control-sm text-muted bg-dark" value="{{message[1][10] if message[1][10] else '-'}} / ({{message[1][8] if message[1][8] else '-'}})" disabled>
                          </div>
                        </div>

                        <div class="row my-1">
                          <label class="col-lg-4 col-sm-2 col-form-label col-form-label-sm text-truncate px-0">Updated Info.</label>
                          <div class="col-lg-8 col-sm-6 pl-1 pr-2">
                            <input type="text" class="form-control form-control-sm text-muted bg-dark" value="{{message[1][11] if message[1][11] else '-'}} / ({{message[1][9] if message[1][9] else '-'}})" disabled>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>    
          </form>
          <!-- End Summary Row -->

          <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <div class="card-title text-right">
                  <p class="text-light">All Transaction(s)</p>
                </div>
                <div class="table-responsive ">
                  <table class="table table-striped table-bordered">
                    <thead>
                      <tr>
                        <th class="text-primary"><b> SO ID </b></th>
                        <th class="text-primary"><b> Date </b></th>
                        <th class="text-primary"><b> Quantity </b></th>
                        <th class="text-primary"><b> Price </b></th>
                        <th class="text-primary"><b> Total Amount </b></th>
                        <th class="text-primary"><b> Created Info. </b></th>
                        <th class="text-primary"><b> Updated Info. </b></th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for i in range(3) %}
                      <tr>
                        <td> GRN-{{i}} </td>
                        <td> {{i}}{{i}}/{{i}}{{i}}/{{i}}{{i}}{{i}}{{i}} </td>
                        <td> {{i}} </td>
                        <td> $ 999{{i}}.00 </td>
                        <td> $ 999{{i}}.00 </td>
                        <td> Date&By-{{i}} </td>
                        <td> Date&By-{{i}} </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- End Table Card -->
          </div>
          <!-- End Table Row -->
        </div>
      </div>
    </div>
  </div>
  <script src="{{ url_for('static', filename='assets/vendors/js/vendor.bundle.base.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendors/datatables/datatables.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendors/datatables/NaturalSort-1.2.1/NaturalSort.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/off-canvas.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/hoverable-collapse.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/misc.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/Inventory/main.js') }}"></script>
</body>
</html>