<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Happy Pancing</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/Login/style.css') }}">

	</head>
	<body>
		<section class="ftco-section">
			<div class="container">
				{% with messages = get_flashed_messages() %}
				  {% if messages %}
				    {% for message in messages %}
				    <div class="alert alert-warning alert-dismissible text-center" role="alert">
				      <span class="text-secondary"><b>{{message}}</b></span>
				      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
						    <span aria-hidden="true">&times;</span>
						  </button>
				    </div>
				    {% endfor %}
				  {% endif %}
				{% endwith %}
				<div class="row justify-content-center">
					<div class="col-md-7 col-lg-5">
						<div class="wrap">
							<!-- Sign In Section -->
							<div class="login-wrap p-4 p-md-5" id="sign-in">
								<div class="d-flex">
									<div class="w-100">
										<h3 class="mb-4 font-weight-bold text-primary">Sign In</h3>
									</div>
								</div>
								<form action="/user/login/" class="signin-form" method="POST">
									<div class="form-group mt-3">
										<input type="text" class="form-control" name="username" required>
										<label class="form-control-placeholder" for="username">Username</label>
									</div>
									<div class="form-group">
										<input id="password-field" type="password" name="password" class="form-control" required>
										<label class="form-control-placeholder" for="password">Password</label>
										<span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
									</div>
									<div class="form-group">
										<button type="submit" class="form-control btn btn-primary rounded submit px-3">Sign In</button>
									</div>
								</form>
								<p class="text-center">Or go to <a data-toggle="tab" href="#" id="to-sign-up" class="font-weight-bold">Sign Up</a></p>
							</div>

							<!-- Sign Up Section -->
							<div class="login-wrap p-4 p-md-5 d-none" id="sign-up">
								<div class="d-flex">
									<div class="w-100">
										<h3 class="mb-4 font-weight-bold text-primary">Sign Up</h3>
									</div>
								</div>
								<form action="/user/add/" class="signup-form" method="POST">
									<div class="form-group mt-3">
										<input type="text" class="form-control" name="username" required>
										<label class="form-control-placeholder" for="username">Username</label>
									</div>
									<div class="form-group">
										<input id="password-field" type="password" name="password" class="form-control" required>
										<label class="form-control-placeholder" for="password">Password</label>
										<span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
									</div>
									<div class="form-group">
										<button type="submit" class="form-control btn btn-primary rounded submit px-3">Sign Up</button>
									</div>
								</form>
								<p class="text-center">Or go to <a data-toggle="tab" href="#" id="to-sign-in" class="font-weight-bold">Sign In</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/popper.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/Login/main.js') }}"></script>
	</body>
</html>
