<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
      <a class="sidebar-brand brand-logo" href="index.html"><img src="{{ url_for('static', filename='assets/images/logo.svg') }}" alt="logo" /></a>
      <a class="sidebar-brand brand-logo-mini" href="index.html"><img src="{{ url_for('static', filename='assets/images/logo-mini.svg') }}" alt="logo" /></a>
    </div>
    <ul class="nav">
      <li class="nav-item profile">
        <div class="profile-desc">
          <div class="profile-pic">
            <div class="profile-name">
              <span>Hello,</span>
              <h3 class="mb-0 font-weight-normal">Admin 1</h3>
            </div>
          </div>
      </li>
      <li class="nav-item nav-category">
        <span class="nav-link">Navigation</span>
      </li>
      <li class="nav-item menu-items">
        <a class="nav-link" href="/">
          <span class="menu-icon">
            <i class="mdi mdi-speedometer"></i>
          </span>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>
      <li class="nav-item menu-items">
        <a class="nav-link" data-toggle="collapse" href="#accounting" aria-expanded="false" aria-controls="accounting">
          <span class="menu-icon">
            <i class="mdi mdi-laptop"></i>
          </span>
          <span class="menu-title">Accounting</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="accounting">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="/account_receivable">Account Receivable</a></li>
            <li class="nav-item"> <a class="nav-link" href="/account_payable">Account Payable</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item menu-items">
        <a class="nav-link" data-toggle="collapse" href="#purchase" aria-expanded="false" aria-controls="purchase">
          <span class="menu-icon">
            <i class="mdi mdi-laptop"></i>
          </span>
          <span class="menu-title">Purchase</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="purchase">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="/purchase_order">Purchase Order</a></li>
            <li class="nav-item"> <a class="nav-link" href="/purchase_receivable">Purchase Receivable</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item menu-items">
        <a class="nav-link" data-toggle="collapse" href="#master-table" aria-expanded="false" aria-controls="master-table">
          <span class="menu-icon">
            <i class="mdi mdi-laptop"></i>
          </span>
          <span class="menu-title">Master Table</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="master-table">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="/inventory">Inventory Table</a></li>
            <li class="nav-item"> <a class="nav-link" href="/customer">Customer Table</a></li>
            <li class="nav-item"> <a class="nav-link" href="/supplier">Supplier Table</a></li>
            <li class="nav-item"> <a class="nav-link" href="/user">User Table</a></li>
          </ul>
        </div>
      </li>
    </ul>
</nav>