<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Corona Admin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendors/mdi/css/materialdesignicons.min.css') }}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendors/css/vendor.bundle.base.css') }}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/User/style.css') }}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendors/datatables/datatables.min.css') }}" >
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/images/favicon.png') }}" />
  </head>
  <body>
    <div class="container-scroller">
      {% include "layout/_sidenav.html" %}
      <div class="container-fluid page-body-wrapper">
        {% include "layout/_topnav.html" %}
        <div class="main-panel">
          <div class="content-wrapper">
            <!-- Message Flash -->
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
                <div class="alert alert-warning alert-dismissible text-center" role="alert">
                  <span class=""><b>{{message}}</b></span>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                {% endfor %}
              {% endif %}
            {% endwith %}

            <!-- Content -->
            <form action="{{'/user/update/' if message[1][3] != 0 else '/user/activate/'}}" method="POST" id="user-form">
              <div class="page-header">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/user/">User</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{message[0]}}</li>
                  </ol>
                </nav>
                <h3 class="page-title"> <b><i> {{message[0]}} </i></b> User Details </h3>
              </div>
              <!-- ENABLE DATATABLES AND TEST FOR 1000 rows -->
              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="card-title text-right">
                      {% if message[1][3] != 0 %}
                      <button type="button" class="btn btn-outline-danger" id="user-deactivate">Deactivate</button>
                      <button type="button" class="btn btn-primary" id="user-change-password" data-toggle="modal" data-target="#exampleModal">Change Password</button>
                      <button class="btn btn-primary">Save</button>
                      {% endif %}
                      {% if message[1][3] == 0 %}
                      <h3 class="font-weight-bold text-light">Account Inactive</h3>
                      <button class="btn btn-outline-success">Activate</button>
                      {% endif %}
                    </div>
                    <div class="card-description col-lg-12">
                      <div class="row">
                        <div class="form-group col-lg-3">
                          <div class="row my-1">
                            <label for="US_ID" class="col-lg-4 col-sm-2 col-form-label col-form-label-sm text-truncate px-0">ID</label>
                            <div class="col-lg-8 col-sm-6 pl-1 pr-2">
                              <input type="text" class="form-control form-control-sm text-muted bg-dark" name="US_ID" id="US_ID" value='{{message[1][0]}}' readonly>
                            </div>
                          </div>

                          <div class="row my-1">
                            <label for="US_NAME" class="col-lg-4 col-sm-2 col-form-label col-form-label-sm text-truncate px-0">Name</label>
                            <div class="col-lg-8 col-sm-6 pl-1 pr-2">
                              <input type="text" class="form-control form-control-sm {{'text-muted' if message[1][3] == 0 else 'text-light'}} bg-dark" name="US_NAME" id="US_NAME" value="{{message[1][1]}}" {{'disabled' if message[1][3] == 0 else ''}}>
                            </div>
                          </div>

                          <div class="row my-1">
                            <label for="US_PASSWORD" class="col-lg-4 col-sm-2 col-form-label col-form-label-sm text-truncate px-0">Password</label>
                            <div class="col-lg-8 col-sm-6 pl-1 pr-2">
                              <input type="text" class="form-control form-control-sm text-muted bg-dark" name="US_PASSWORD" id="US_PASSWORD" value="{{message[1][2]}}" disabled>
                            </div>
                          </div>
                        </div>

                        <div class="form-group col-lg-3">
                          <div class="row my-1">
                            <label for="CRTD_DT" class="col-lg-4 col-sm-2 col-form-label col-form-label-sm text-truncate px-0">Created Info.</label>
                            <div class="col-lg-8 col-sm-6 pl-1 pr-2">
                              <input type="text" class="form-control form-control-sm text-muted bg-dark" name="CRTD_DT" id="CRTD_DT" value="{{message[1][4] if message[1][4] is not none else '-'}} / ({{message[1][6] if message[1][6] is not none else '-'}})" disabled>
                            </div>
                          </div>

                          <div class="row my-1">
                            <label for="UPTD_DT" class="col-lg-4 col-sm-2 col-form-label col-form-label-sm text-truncate px-0">Updated Info.</label>
                            <div class="col-lg-8 col-sm-6 pl-1 pr-2">
                              <input type="text" class="form-control form-control-sm text-muted bg-dark" name="UPTD_DT" id="UPTD_DT" value="{{message[1][7] if message[1][7] is not none else '-'}} / ({{message[1][5] if message[1][5] is not none else '-'}})" disabled>
                            </div>
                          </div>
                        </div>
                        </div>

                      </div>                      
                    </div>
                  </div>
                </div>
            <!-- End Summary Row -->

              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="card-title text-right">
                      <p class="text-light">Permission(s)</p>
                    </div>
                    <div class="table-responsive ">
                      <form>
                        <table class="table table-striped table-bordered">
                          <thead>
                            <tr>
                              <th class="text-primary"><b> Module </b></th>
                              <th class="text-primary"><b> Create </b></th>
                              <th class="text-primary"><b> Read </b></th>
                              <th class="text-primary"><b> Update </b></th>
                              <th class="text-primary"><b> Delete </b></th>
                              <th class="text-primary"><b> Created Info.</b></th>
                              <th class="text-primary"><b> Updated Info.</b></th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for item in message[2] %}
                            <tr>
                              <td class="p-2">
                                <div class="form-check text-center p-0 m-0">
                                  <input type="text" class="form-control bg-transparent border-0" name="US_MODULEID" value="{{item[1]}}" readonly>
                                </div>
                              </td>
                              <td class="p-2">
                                <div class="form-check text-center p-0 m-0">
                                  <input type="checkbox" class="form-check-input m-0 p-0" name="{{item[1]}}_CREATE" {{'checked' if item[2] else ''}} {{'disabled' if message[1][3] == 0 else ''}}>
                                </div>
                              </td>
                              <td class="p-2">
                                <div class="form-check text-center p-0 m-0">
                                  <input type="checkbox" class="form-check-input m-0 p-0" name="{{item[1]}}_READ" {{'checked' if item[3] else ''}} {{'disabled' if message[1][3] == 0 else ''}}>
                                </div>
                              </td>
                              <td class="p-2">
                                <div class="form-check text-center p-0 m-0">
                                  <input type="checkbox" class="form-check-input m-0 p-0" name="{{item[1]}}_UPDATE" {{'checked' if item[4] else ''}} {{'disabled' if message[1][3] == 0 else ''}}>
                                </div>
                              </td>
                              <td class="p-2">
                                <div class="form-check text-center p-0 m-0">
                                  <input type="checkbox" class="form-check-input m-0 p-0" name="{{item[1]}}_DELETE" {{'checked' if item[5] else ''}} {{'disabled' if message[1][3] == 0 else ''}}>
                                </div>
                              </td>
                              <td class="p-2"> {{item[8] if item[8] is not none else '-'}} / ({{item[6] if item[6] is not none else '-'}}) </td>
                              <td class="p-2"> {{item[9] if item[9] is not none else '-'}} / ({{item[7] if item[7] is not none else '-'}}) </td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </form>
                    </div>
                  </div>
                </div>
                <!-- End Table Card -->
              </div>
              <!-- End Table Row -->
            </form>

            <!-- Change Password Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">

                  <form action="/user/update/password/" method="POST" id="user-change-password-form">
                    <div class="modal-header">
                      <div class="modal-title" id="exampleModalLabel">
                        <input type="text" class="bg-transparent border-0 text-muted font-italic font-weight-bold" name="US_ID" readonly value="{{message[0]}}">
                        <h5>Change Password</h5>
                      </div>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="form-group col-lg-12">
                        <div class="row my-1">
                          <label for="US_PASSWORD" class="col-lg-4 col-sm-3 col-form-label col-form-label-sm text-truncate px-0">New Password</label>
                          <div class="col-lg-8 col-sm-6 pl-1 pr-2">
                            <input type="text" class="form-control form-control-sm text-muted bg-dark" name="US_PASSWORD" id="US_PASSWORD" data-toggle="tooltip" data-placement="right" title="Minimum 8 Characters">
                          </div>
                        </div>
                        <div class="row my-1">
                          <label for="CFRM_PASSWORD" class="col-lg-4 col-sm-3 col-form-label col-form-label-sm text-truncate px-0">Retype New Password</label>
                          <div class="col-lg-8 col-sm-6 pl-1 pr-2">
                            <input type="text" class="form-control form-control-sm text-muted bg-dark" name="CFRM_PASSWORD" id="CFRM_PASSWORD" data-toggle="tooltip" data-placement="right" title="Must be identical to previous field">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button class="btn btn-primary" id="user-change-password-submit" disabled>Change Pasword</button>
                    </div>
                  </form>

                </div>
              </div>
            </div>
            <!-- End Modal -->
          </div>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='assets/vendors/js/vendor.bundle.base.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendors/datatables/datatables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/off-canvas.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/hoverable-collapse.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/misc.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/User/main.js') }}"></script>
  </body>
</html>