<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mockup</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendors/mdi/css/materialdesignicons.min.css') }}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendors/css/vendor.bundle.base.css') }}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/images/favicon.png') }}" />
  </head>

  <body>
    <div class=" container-scroller">
      {% include "layout/_sidenav.html" %}
      <div class="container-fluid page-body-wrapper">
        {% include "layout/_topnav.html" %}
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title"> Transaction </h3>
              <nav aria-label="breadcrumb">
              </nav>
            </div>
            <div class="row">
              <div class="col-lg-8 grid-margin">
                <div class="card mh-100">
                  <div class="card-body" >

                    <!-- Item List Head -->
                    <div class="row col-sm-12 col-md-12 col-lg-12 pb-2">
                      <div class="col-sm-8 col-lg-8">
                        <button class="btn btn-primary" name="new-transaction">New Transaction</button>
                      </div>
                      <div class="col-sm-4 col-lg-4 pr-0">
                        <input type="text" class="form-control form-control-sm rounded-pill" name="transaction-item-search" placeholder="Search Item...">
                      </div>
                      </div>
                      <div class="col-sm-4 col-lg-4 pr-0">
                        <input type="text" class="form-control form-control-sm rounded-pill" name="transaction-item-search" placeholder="Search Item...">
                      </div>
                    </div>
                    <!-- Item List Head -->

                    <!-- Item List Body -->
                    <div class="items-list overflow-auto pr-2" style="height: 60vh;">
                      <p class="col-12 mb-0 mt-4" name="item-list-category">Umpan</p>
                      <div class="icons-list d-block text-nowrap overflow-auto border-0">
                        
                        <div class="container-fluid col-12 border-0 p-0" name="item-list-container">
                          <!-- Item Template -->
                          <div class="col-2 d-inline-block rounded-lg border border-primary mx-1 my-2 p-1" id="item1" data-name="transaction-item1" data-price="10000">
                            <div class="card transaction-item text-truncate text-center border-0" data-toggle="collapse" data-target="#item1-collapsible" aria-expanded="false" aria-controls="item1-collapsible">
                          <div class="col-2 d-inline-block rounded-lg border border-primary mx-1 my-2 p-1" name="transaction-item">
                            <div class="card transaction-item text-truncate text-center border-0">
                              <i class="mdi mdi-access-point card-img-top mx-auto"></i>
                              <div class="card-body p-0">
                                <p class="card-text">ITEM</p>
                              </div>
                              <div class="collapse" id="item1-collapsible">
                                <div class="card card-body p-1">
                                  <input type="number" class="form-control form-control-sm rounded-pill text-light" name="transaction-item-amount" value="1">
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- Item Template -->
                          <div class="col-2 d-inline-block rounded-lg border border-primary mx-1 my-2 p-1" id="item2" data-name="transaction-item2" data-price="12000">
                            <div class="card transaction-item text-truncate text-center border-0" data-toggle="collapse" data-target="#item2-collapsible" aria-expanded="false" aria-controls="item2-collapsible">
                            </div>
                          </div>
                          <div class="col-2 d-inline-block rounded-lg border border-primary mx-1 my-2 p-1" name="transaction-item">
                            <div class="card transaction-item text-truncate text-center border-0">
                              <i class="mdi mdi-access-point card-img-top mx-auto"></i>
                              <div class="card-body p-0">
                                <p class="card-text">ITEM</p>
                              </div>
                              <div class="collapse" id="item2-collapsible">
                                <div class="card card-body p-1">
                                  <input type="number" class="form-control form-control-sm rounded-pill text-light" name="transaction-item-amount" value="1">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-2 d-inline-block rounded-lg border border-primary mx-1 my-2 p-1" id="item3" name="transaction-item3" >
                            </div>
                          </div>
                          <div class="col-2 d-inline-block rounded-lg border border-primary mx-1 my-2 p-1" name="transaction-item">
                            <div class="card transaction-item text-truncate text-center border-0">
                              <i class="mdi mdi-access-point card-img-top mx-auto"></i>
                              <div class="card-body p-0">
                                <p class="card-text">ITEM</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-2 d-inline-block rounded-lg border border-primary mx-1 my-2 p-1" id="item4" name="transaction-item4" >
                          <div class="col-2 d-inline-block rounded-lg border border-primary mx-1 my-2 p-1" name="transaction-item">
                            <div class="card transaction-item text-truncate text-center border-0">
                              <i class="mdi mdi-access-point card-img-top mx-auto"></i>
                              <div class="card-body p-0">
                                <p class="card-text">ITEM</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-2 d-inline-block rounded-lg border border-primary mx-1 my-2 p-1" id="item5" name="transaction-item5" >
                          <div class="col-2 d-inline-block rounded-lg border border-primary mx-1 my-2 p-1" name="transaction-item">
                            <div class="card transaction-item text-truncate text-center border-0">
                              <i class="mdi mdi-access-point card-img-top mx-auto"></i>
                              <div class="card-body p-0">
                                <p class="card-text">ITEM</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-2 d-inline-block rounded-lg border border-primary mx-1 my-2 p-1" id="item6" name="transaction-item6" >
                          <div class="col-2 d-inline-block rounded-lg border border-primary mx-1 my-2 p-1" name="transaction-item">
                            <div class="card transaction-item text-truncate text-center border-0">
                              <i class="mdi mdi-access-point card-img-top mx-auto"></i>
                              <div class="card-body p-0">
                                <p class="card-text">ITEM</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-2 d-inline-block rounded-lg border border-primary mx-1 my-2 p-1" id="item7" name="transaction-item7" >
                          <div class="col-2 d-inline-block rounded-lg border border-primary mx-1 my-2 p-1" name="transaction-item">
                            <div class="card transaction-item text-truncate text-center border-0">
                              <i class="mdi mdi-access-point card-img-top mx-auto"></i>
                              <div class="card-body p-0">
                                <p class="card-text">ITEM</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-2 d-inline-block rounded-lg border border-primary mx-1 my-2 p-1" id="item8" name="transaction-item8" >
                          <div class="col-2 d-inline-block rounded-lg border border-primary mx-1 my-2 p-1" name="transaction-item">
                            <div class="card transaction-item text-truncate text-center border-0">
                              <i class="mdi mdi-access-point card-img-top mx-auto"></i>
                              <div class="card-body p-0">
                                <p class="card-text">ITEM</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-2 d-inline-block rounded-lg border border-primary mx-1 my-2 p-1" id="item9" name="transaction-item9" >
                          <div class="col-2 d-inline-block rounded-lg border border-primary mx-1 my-2 p-1" name="transaction-item">
                            <div class="card transaction-item text-truncate text-center border-0">
                              <i class="mdi mdi-access-point card-img-top mx-auto"></i>
                              <div class="card-body p-0">
                                <p class="card-text">ITEM</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-2 d-inline-block rounded-lg border border-primary mx-1 my-2 p-1" id="item10" name="transaction-item10" >
                          <div class="col-2 d-inline-block rounded-lg border border-primary mx-1 my-2 p-1" name="transaction-item">
                            <div class="card transaction-item text-truncate text-center border-0">
                              <i class="mdi mdi-access-point card-img-top mx-auto"></i>
                              <div class="card-body p-0">
                                <p class="card-text">ITEM</p>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>

                      <hr class="">

                      <p class="col-12 mb-0 mt-4" name="item-list-category">Umpan</p>
                      <div class="icons-list d-block text-nowrap overflow-auto border-0">

                        <div class="container-fluid col-12 border-0 p-0">
                          <div class="col-2 d-inline-block rounded-lg border border-primary mx-1 my-2 p-1" id="item11" name="transaction-item11" >
                          <div class="col-2 d-inline-block rounded-lg border border-primary mx-1 my-2 p-1" name="transaction-item">
                            <div class="card transaction-item text-truncate text-center border-0">
                              <i class="mdi mdi-access-point card-img-top mx-auto"></i>
                              <div class="card-body p-0">
                                <p class="card-text">ITEM</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-2 d-inline-block rounded-lg border border-primary mx-1 my-2 p-1" id="item12" name="transaction-item12" >
                          <div class="col-2 d-inline-block rounded-lg border border-primary mx-1 my-2 p-1" name="transaction-item">
                            <div class="card transaction-item text-truncate text-center border-0">
                              <i class="mdi mdi-access-point card-img-top mx-auto"></i>
                              <div class="card-body p-0">
                                <p class="card-text">ITEM</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-2 d-inline-block rounded-lg border border-primary mx-1 my-2 p-1" id="item13" name="transaction-item13" >
                          <div class="col-2 d-inline-block rounded-lg border border-primary mx-1 my-2 p-1" name="transaction-item">
                            <div class="card transaction-item text-truncate text-center border-0">
                              <i class="mdi mdi-access-point card-img-top mx-auto"></i>
                              <div class="card-body p-0">
                                <p class="card-text">ITEM</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-2 d-inline-block rounded-lg border border-primary mx-1 my-2 p-1" id="item14" name="transaction-item14" >
                          <div class="col-2 d-inline-block rounded-lg border border-primary mx-1 my-2 p-1" name="transaction-item">
                            <div class="card transaction-item text-truncate text-center border-0">
                              <i class="mdi mdi-access-point card-img-top mx-auto"></i>
                              <div class="card-body p-0">
                                <p class="card-text">ITEM</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-2 d-inline-block rounded-lg border border-primary mx-1 my-2 p-1" id="item15" name="transaction-item15" >
                          <div class="col-2 d-inline-block rounded-lg border border-primary mx-1 my-2 p-1" name="transaction-item">
                            <div class="card transaction-item text-truncate text-center border-0">
                              <i class="mdi mdi-access-point card-img-top mx-auto"></i>
                              <div class="card-body p-0">
                                <p class="card-text">ITEM</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-2 d-inline-block rounded-lg border border-primary mx-1 my-2 p-1" id="item16" name="transaction-item16" >
                          <div class="col-2 d-inline-block rounded-lg border border-primary mx-1 my-2 p-1" name="transaction-item">
                            <div class="card transaction-item text-truncate text-center border-0">
                              <i class="mdi mdi-access-point card-img-top mx-auto"></i>
                              <div class="card-body p-0">
                                <p class="card-text">ITEM</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-2 d-inline-block rounded-lg border border-primary mx-1 my-2 p-1" id="item17" name="transaction-item17" >
                          <div class="col-2 d-inline-block rounded-lg border border-primary mx-1 my-2 p-1" name="transaction-item">
                            <div class="card transaction-item text-truncate text-center border-0">
                              <i class="mdi mdi-access-point card-img-top mx-auto"></i>
                              <div class="card-body p-0">
                                <p class="card-text">ITEM</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-2 d-inline-block rounded-lg border border-primary mx-1 my-2 p-1" id="item18" name="transaction-item18" >
                          <div class="col-2 d-inline-block rounded-lg border border-primary mx-1 my-2 p-1" name="transaction-item">
                            <div class="card transaction-item text-truncate text-center border-0">
                              <i class="mdi mdi-access-point card-img-top mx-auto"></i>
                              <div class="card-body p-0">
                                <p class="card-text">ITEM</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-2 d-inline-block rounded-lg border border-primary mx-1 my-2 p-1" id="item19" name="transaction-item19" >
                          <div class="col-2 d-inline-block rounded-lg border border-primary mx-1 my-2 p-1" name="transaction-item">
                            <div class="card transaction-item text-truncate text-center border-0">
                              <i class="mdi mdi-access-point card-img-top mx-auto"></i>
                              <div class="card-body p-0">
                                <p class="card-text">ITEM</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-2 d-inline-block rounded-lg border border-primary mx-1 my-2 p-1" id="item20" name="transaction-item20" >
                          <div class="col-2 d-inline-block rounded-lg border border-primary mx-1 my-2 p-1" name="transaction-item">
                            <div class="card transaction-item text-truncate text-center border-0">
                              <i class="mdi mdi-access-point card-img-top mx-auto"></i>
                              <div class="card-body p-0">
                                <p class="card-text">ITEM</p>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>  
                    </div>

                  </div>
                </div>
              </div>
              <!-- Item List Body -->

              <!-- Transaction Information -->
              <div class="col-lg-4 grid-margin">
                <div class="card mh-100">
                  <div class="card-body">

                    <!-- Transaction Side Text -->
                    <div name="transaction-sidenav">
                      <div class="row">
                        <label class="col-6 m-0 align-self-center" for="transaction-sidenav-id">ID</label>
                        <input type="text" class="form-control bg-transparent col-6 text-right border-0 text-light" id="transaction-sidenav-id" aria-describedby="transaction-sidenav-id" placeholder="Transaction ID" value="TRX-001" readonly>
                      </div>
                      <div class="form-group">
                        <label class="align-self-center m-0" for="transaction-sidenav-amount">Total Amount</label>
                        <input type="text" class="form-control bg-transparent text-right border-0 p-0 text-light" id="transaction-sidenav-amount" aria-describedby="transaction-sidenav-amount" placeholder="Amount Total" readonly>
                      </div>
                      <div class="row">
                        <label class="col-6 m-0 align-self-center" for="transaction-sidenav-qty">Total Item(s)</label>
                        <input type="text" class="form-control bg-transparent col-6 text-right border-0 text-light" id="transaction-sidenav-qty" aria-describedby="transaction-sidenav-qty" placeholder="Item Total" readonly>
                      <div class="form-group">
                        <label class="align-self-center m-0" for="transaction-sidenav-amount">Total Amount</label>
                        <input type="text" class="form-control bg-transparent text-right border-0 p-0 text-light" id="transaction-sidenav-amount" aria-describedby="transaction-sidenav-amount" placeholder="Amount Total" disabled>
                      </div>
                      <div class="row">
                        <label class="col-6 m-0 align-self-center" for="transaction-sidenav-item">Total Item(s)</label>
                        <input type="text" class="form-control bg-transparent col-6 text-right border-0 text-light" id="transaction-sidenav-item" aria-describedby="transaction-sidenav-item" placeholder="Item Total" disabled>
                      </div>
                      <div class="row">
                        <label class="col-6 m-0 align-self-center" for="transaction-sidenav-customer">Customer</label>
                        <input type="text" class="form-control bg-transparent col-6 text-right border-0 text-light" id="transaction-sidenav-customer" aria-describedby="transaction-sidenav-customer" placeholder="Customer ID">
                      </div>
                      <div class="col-12 text-center">
                        <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#transaction-modal">Proceed</button>
                      </div>
                    </div>
                    <!-- Transaction Side Text -->

                    <!-- Checkout Modal -->
                    <div class="modal fade" id="transaction-modal" tabindex="-1" role="dialog" aria-labelledby="transaction-modal-label" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="transaction-modal-label">Transaction Checkout</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>

                          <!-- Modal Body -->
                          <div class="modal-body">
                            <div class="icons-list d-block text-nowrap overflow-auto border-0">
                              <div class="container-fluid col-12 border-0 p-0">
                                <div class="col-2 d-inline-block rounded-lg border border-primary mx-1 my-2 p-1" name="modal-item-list">
                                  <div class="card transaction-item text-truncate text-center border-0">
                                    <i class="mdi mdi-access-point card-img-top mx-auto"></i>
                                    <div class="card-body p-0">
                                      <p class="card-text">ITEM</p>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-2 d-inline-block rounded-lg border border-primary mx-1 my-2 p-1" name="modal-item-list">
                                  <div class="card transaction-item text-truncate text-center border-0">
                                    <i class="mdi mdi-access-point card-img-top mx-auto"></i>
                                    <div class="card-body p-0">
                                      <p class="card-text">ITEM</p>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-2 d-inline-block rounded-lg border border-primary mx-1 my-2 p-1" name="modal-item-list">
                                  <div class="card transaction-item text-truncate text-center border-0">
                                    <i class="mdi mdi-access-point card-img-top mx-auto"></i>
                                    <div class="card-body p-0">
                                      <p class="card-text">ITEM</p>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-2 d-inline-block rounded-lg border border-primary mx-1 my-2 p-1" name="modal-item-list">
                                  <div class="card transaction-item text-truncate text-center border-0">
                                    <i class="mdi mdi-access-point card-img-top mx-auto"></i>
                                    <div class="card-body p-0">
                                      <p class="card-text">ITEM</p>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-2 d-inline-block rounded-lg border border-primary mx-1 my-2 p-1" name="modal-item-list">
                                  <div class="card transaction-item text-truncate text-center border-0">
                                    <i class="mdi mdi-access-point card-img-top mx-auto"></i>
                                    <div class="card-body p-0">
                                      <p class="card-text">ITEM</p>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-2 d-inline-block rounded-lg border border-primary mx-1 my-2 p-1" name="modal-item-list">
                                  <div class="card transaction-item text-truncate text-center border-0">
                                    <i class="mdi mdi-access-point card-img-top mx-auto"></i>
                                    <div class="card-body p-0">
                                      <p class="card-text">ITEM</p>
                                    </div>
                                  </div>
                                </div>
                              </div>

                            </div>  

                          </div>
                          <!-- Modal Body -->

                          <!-- Modal Footer -->
                          <div class="modal-footer justify-content-around row">
                            
                            <div class="col-5">
                              <p>Bank Account</p>
                              <p class="mb-1 px-2">- BCA > 123456789</p>
                              <p class="mb-1 px-2">- BCA > 123456789</p>
                            </div>

                            <div class="col-6">
                              <div class="row">
                                <label class="col-6 m-0 align-self-center" for="transaction-modal-amount">Total Amount</label>
                                <input type="email" class="form-control form-control-sm bg-transparent col-6 text-right text-light border-0 p-0" id="transaction-modal-amount" aria-describedby="transaction-modal-amount" placeholder="Total Amount">
                              </div>
                              <div class="row">
                                <label class="col-12 m-0 align-self-center">Payment</label>
                                <div class="form-check form-check-inline col-6 m-0">
                                  <input class="form-check-input" type="radio" name="transaction-payment" id="payment-bank-transfer" value="1">
                                  <label class="form-check-label text-truncate" for="payment-bank-transfer">Bank Transfer</label>
                                </div>
                                <div class="form-check form-check-inline col-6 m-0">
                                  <input class="form-check-input" type="radio" name="transaction-payment" id="payment-cash" value="2">
                                  <label class="form-check-label text-truncate" for="payment-cash">Cash</label>
                                </div>
                                <div class="form-check form-check-inline col-6 m-0">
                                  <input class="form-check-input" type="radio" name="transaction-payment" id="payment-credit" value="3">
                                  <label class="form-check-label text-truncate" for="payment-credit">Credit</label>
                                </div>
                              </div>
                            </div>

                            <div class="col-12 text-right mt-2">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              <button type="button" class="btn btn-primary">Checkout</button>
                            </div>

                          </div>
                          <!-- Modal Footer -->
                        </div>
                      </div>
                    </div>
                    <!-- Checkout Modal -->

                    <hr class="border-light">

                    <!-- Open Transaction List -->
                    <div class="card btn text-center rounded-lg border-light" name="open-transaction-list">
                      <div class="card-body px-0 py-2">
                        <div class="card-title">
                          <p>Open Transaction ID</p>
                        </div>
                        <div class="card-subtitle m-0">
                          <p class="m-0 py-1">RP. Amount</p>
                          <p class="m-0 py-1">Item(s)</p>
                        </div>
                      </div>
                    </div>
                    <!-- Open Transaction List -->

                  </div>
                </div>

              </div>
              <!-- Transaction Information -->
            </div>
          </div>

        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='assets/vendors/js/vendor.bundle.base.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/off-canvas.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/hoverable-collapse.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/misc.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/Transaction/main.js') }}"></script>
    <!-- <script src="{{ url_for('static', filename='assets/js/settings.js') }}"></script> -->
    <!-- <script src="{{ url_for('static', filename='assets/js/todolist.js') }}"></script> -->
  </body>
</html>